
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

#Output{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  border: 2px black solid;
  height: 400px;
  width: 450px;
  justify-content: start;
  align-items: flex-start;
  margin: 10px;
  padding: .3%;
  overflow-wrap: anywhere;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#box1{
  display: flex;
  justify-content: center;
}

#box2{
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Submit{
  width: 100px;
  margin: .2%;
}

#Input{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  display: flex;
  border: 2px black solid;
  height: 400px;
  width: 450px;
  margin: 10px;
  padding: .3%;
  justify-content: flex-start;
  align-content: flex-start;
}

#sdp{
  align-self: flex-end;
}

.subButton{
  display: flex;
  background-color: aqua;
  height: 60px;
  width: 150px;
  margin: 2%;
}

#decrypt{
  background-color: blue;
}

#shiftCount{
  display: flex;
  height: 50px;
  width: 80px;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
  border: 2px black solid;
  border-radius: 25px;
  padding: 1%;
}